<div class="container" >
  <h1 style="text-align:center">
    Welcome to Test &#x263A;
  </h1>
  <mat-card class="card" [hidden]="isQuestionCardShow">
    <mat-card-content  >
      <h3 class="card-title" style="text-align:center">Choose Option &#x263A; </h3>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="col-sm-12 col-lg-3">
          
          <button class="btn btn-block btn-outline-primary cursor-restriction home-btn" (click)="createTest()" style="margin-top: 24px;">
            Create Test </button>
        </div>
        <div class="col-sm-12 col-lg-3">
          <button class="btn btn-block btn-outline-primary cursor-restriction home-btn" style="margin-top: 24px;" (click)="startQuiz()">
            Start Quiz </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>
<div bsModal #addQuestionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div  class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <form #questionForm="ngForm"  novalidate>
        
          <div class="form-group mb-3">
          <label for="test" class="label-font">Test Name</label>
            <span style="color:red;" [hidden]="!(testName?.invalid)">*</span>
            <input type="text" class="form-control"  name="test-name" placeholder="Enter Question" [(ngModel)]="createdTest" [ngClass]="{
                  'is-invalid': testName?.invalid && (testName?.dirty ||testName?.touched),
                    'is-valid': testName?.valid && (testName?.dirty || testName?.touched)
             }" #testName="ngModel" required>
            <div class="invalid-feedback" *ngIf="testName.errors && (testName.dirty || testName.touched)">
              <p *ngIf="testName.errors.required">Test Name is Required</p>
            </div>

            <label for="question" class="label-font">Test Description</label>
            <span style="color:red;" [hidden]="!(testdesc?.invalid)">*</span>
            <input type="text" class="form-control"  name="test-desc" placeholder="Enter Question" [(ngModel)]="testDescription" [ngClass]="{
                  'is-invalid': testdesc?.invalid && (testdesc?.dirty ||testdesc?.touched),
                    'is-valid': testdesc?.valid && (testdesc?.dirty || testdesc?.touched)
             }" #testdesc="ngModel" required>
            <div class="invalid-feedback" *ngIf="testdesc.errors && (testdesc.dirty || testdesc.touched)">
              <p *ngIf="testdesc.errors.required">Test Description is Required</p>
            </div>
          </div>
 
          <div  *ngFor="let i of [1,2,3,4]">
          <div class="row">
            <div class="col-sm-12 col-12 col-lg-12">
              <div class="form-group">
                <label for="question" class="label-font">{{  'Add Question ' + i }}</label>
                <span style="color:red;" [hidden]="!(question?.invalid)">*</span>
                <input type="text" class="form-control"  name="question-{{i}}" placeholder="Enter Question" [(ngModel)]="questionObj[i-1].question" [ngClass]="{
                      'is-invalid': question?.invalid && (question?.dirty ||question?.touched),
                      'is-valid': question?.valid && (question?.dirty || question?.touched)
                 }" #question="ngModel" required>
                <div class="invalid-feedback" *ngIf="question.errors && (question.dirty || question.touched)">
                  <p *ngIf="question.errors.required">Question Description is required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-12 col-lg-6">
              <div class="form-group">
                <label for="a">Option a.</label>
                <span style="color:red;" [hidden]="!(a?.invalid)">*</span>
                <input type="text" class="form-control" name="a-{{i-1}}" placeholder="Enter First Option" [(ngModel)]="questionObj[i-1].a" [ngClass]="{
                              'is-invalid': a?.invalid && (a?.dirty ||a?.touched),
                              'is-valid': a?.valid && (a?.dirty || a?.touched)
                         }" #a="ngModel" required>
                <div class="invalid-feedback" *ngIf="a.errors && (a.dirty || a.touched)">
                  <p *ngIf="a.errors.required">Option is required</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-12 col-lg-6">
              <div class="form-group">
                <label for="b">Option b.</label>
                <span style="color:red;" [hidden]="!(b?.invalid)">*</span>
                <input type="text" class="form-control" name="b-{{i-1}}" placeholder="Enter Second Option" [(ngModel)]="questionObj[i-1].b" [ngClass]="{
                          'is-invalid': b?.invalid && (b?.dirty ||b?.touched),
                          'is-valid': b?.valid && (b?.dirty || b?.touched)
                     }" #b="ngModel" required>
                <div class="invalid-feedback" *ngIf="b.errors && (b.dirty || b.touched)">
                  <p *ngIf="b.errors.required">Option is required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-12 col-lg-6">
              <div class="form-group">
                <label for="c">Option c.</label>
                <span style="color:red;" [hidden]="!(c?.invalid)">*</span>
                <input type="text" class="form-control" name="c-{{i-1}}" placeholder="Enter Third Option" [(ngModel)]="questionObj[i-1].c" [ngClass]="{
                                'is-invalid': c?.invalid && (c?.dirty ||c?.touched),
                                'is-valid': c?.valid && (c?.dirty || c?.touched)
                           }" #c="ngModel" required>
                <div class="invalid-feedback" *ngIf="c.errors && (c.dirty || c.touched)">
                  <p *ngIf="c.errors.required">Option is required</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-12 col-lg-6">
              <div class="form-group">
                <label for="b">Option d.</label>
                <span style="color:red;" [hidden]="!(d?.invalid)">*</span>
                <input type="text" class="form-control" name="d-{{i-1}}" placeholder="Enter fourth Option" [(ngModel)]="questionObj[i-1].d" [ngClass]="{
                            'is-invalid': d?.invalid && (d?.dirty ||d?.touched),
                            'is-valid': d?.valid && (d?.dirty || d?.touched)
                       }" #d="ngModel" required>
                <div class="invalid-feedback" *ngIf="d.errors && (d.dirty || d.touched)">
                  <p *ngIf="d.errors.required">Option is required</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12 label-font">Choose Correct Answer Option
              <span style="color:red;" [hidden]="!(answer?.invalid)">*</span>
            </label>
            <div class="col-md-12">
              <div class="form-check form-check-inline mr-2">
                <input class="form-check-input m-r" type="radio" name="option-{{i}}" value="a" [(ngModel)]="questionObj[i-1].answer" #answer="ngModel" required>
                <label class="form-check-label">a.</label>
              </div>
              <div class="form-check form-check-inline mr-2">
                <input class="form-check-input m-r" type="radio" name="option-{{i}}" value="b" [(ngModel)]="questionObj[i-1].answer" #answer="ngModel" required>
                <label class="form-check-label">b.</label>
              </div>
              <div class="form-check form-check-inline mr-2">
                <input class="form-check-input m-r" type="radio" name="option-{{i}}" value="c" [(ngModel)]="questionObj[i-1].answer" #answer="ngModel" required>
                <label class="form-check-label">c.</label>
              </div>
              <div class="form-check form-check-inline mr-2">
                <input class="form-check-input m-r" type="radio" name="option-{{i}}" value="d" [(ngModel)]="questionObj[i-1].answer" #answer="ngModel" required>
                <label class="form-check-label">d.</label>
              </div>
            </div>
          </div>
        </div>
        <div  *ngFor="let i of [5,6,7,8]">
          <div class="row">
            <div class="col-sm-12 col-12 col-lg-12">
              <div class="form-group">
                <label for="question" class="label-font">{{  'Add Question ' + i }}</label>
                <span style="color:red;" [hidden]="!(question?.invalid)">*</span>
                <input type="text" class="form-control"  name="question-{{i}}" placeholder="Enter Question" [(ngModel)]="questionObj[i-1].question" [ngClass]="{
                      'is-invalid': question?.invalid && (question?.dirty ||question?.touched),
                      'is-valid': question?.valid && (question?.dirty || question?.touched)
                 }" #question="ngModel" required>
                <div class="invalid-feedback" *ngIf="question.errors && (question.dirty || question.touched)">
                  <p *ngIf="question.errors.required">Question Description is required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-12 col-lg-12">
              <div class="form-group">
                <label for="a">Correct Answer</label>
                <span style="color:red;" [hidden]="!(answer?.invalid)">*</span>
                <input type="text" class="form-control" name="answer-{{i}}" placeholder="Enter Answer" [(ngModel)]="questionObj[i-1].answer" [ngClass]="{
                              'is-invalid': answer?.invalid && (answer?.dirty ||answer?.touched),
                              'is-valid': answer?.valid && (answer?.dirty || answer?.touched)
                         }" #answer="ngModel" required>
                <div class="invalid-feedback" *ngIf="answer.errors && (answer.dirty || answer.touched)">
                  <p *ngIf="answer.errors.required">Answer is required</p>
                </div>
              </div>
            </div>
           
          </div>

       
        </div>
        </form>
        <span>
          <button type="button" class="btn btn-primary" (click)="submitAddQuestion()" [disabled]="questionForm.invalid" [class.cursor-restriction]="questionForm.invalid"
            style="margin-right: 17px;">Create Test</button>
        </span>
        <button type="button" class="btn btn-default" (click)="addQuestionModal.hide()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<div bsModal #testModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div  class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <form #questionForm="ngForm"  novalidate>
        
          <div  *ngFor="let element of allTests; let i = index"  [attr.data-index]="i">
            <div *ngFor="let simpleQuestions of element['SimpleQuestions']; let j = index">
            <div class="row">
              <div class="col-sm-12 col-12 col-lg-12">
                <div class="form-group">
                  <label for="question" class="label-font">Question</label>
                  <span style="color:red;" [hidden]="!(testQuestion?.invalid)">*</span>
                  <input type="text" class="form-control"  name="test-question-{{j}}" placeholder="{{simpleQuestions['question']}}" disabled="true"  [(ngModel)]="answerObj[i+j].question" [ngClass]="{
                        'is-invalid': testQuestion?.invalid && (testQuestion?.dirty ||testQuestion?.touched),
                        'is-valid': testQuestion?.valid && (testQuestion?.dirty || testQuestion?.touched)
                   }" #testQuestion="ngModel" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-12 col-lg-12">
                <div class="form-group">
                  <label for="a">Enter Answer</label>
                  <span style="color:red;" [hidden]="!(testAnswer?.invalid)">*</span>
                  <input type="text" class="form-control" name="testAnswer-{{j}}" placeholder="Enter Answer" [(ngModel)]="answerObj[j].answer" [ngClass]="{
                                'is-invalid': testAnswer?.invalid && (testAnswer?.dirty ||testAnswer?.touched),
                                'is-valid': testAnswer?.valid && (testAnswer?.dirty || testAnswer?.touched)
                           }" #testAnswer="ngModel" required>
                  <div class="invalid-feedback" *ngIf="testAnswer.errors && (testAnswer.dirty || testAnswer.touched)">
                    <p *ngIf="testAnswer.errors.required">Answer is required</p>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
           
          </div>
      
        </form>
        <span>
          <button type="button" class="btn btn-primary" (click)="submitAddQuestion()" [disabled]="questionForm.invalid" [class.cursor-restriction]="questionForm.invalid"
            style="margin-right: 17px;">Submit</button>
        </span>
        <button type="button" class="btn btn-default" (click)="testModal.hide()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
